.TopContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 20px 0;
}

.TopContainer_item {
  width: 75px;
  height: 75px;
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 9.5px 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  }
}

.TopContainer_item__icon {
  width: 50px;
  height: 50px;
  display: block;
}
