html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#app,
.App {
  height: 100%;
  width: 100%;
}
#app {
  background-color: #fff;
}

.App {
  margin: 0 auto;
  position: relative;
  max-width: 795px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}
